@model ProiectDRXTransports.Models.TransportationLocationDriverModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 620px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.blur{
    height: 640px;
    width: 550px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(30%,-45%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5px 35px;
}
.blur *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.blur h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
select{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    
}
option{
    background-color: black;
}
::placeholder{
    color: #e5e5e5;
}


</style>


<div class="row">
    <div class="col-md-4">
        <form class="blur" asp-action="Create">
            <h3>Create New Transportation</h3>
            <hr />
            @if (ViewData["DateError"] != null)
{
    <p class="text-danger">@ViewData["DateError"]</p>
    
}
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="transportationModel.StatusTransport" class="control-label"></label>
                <select asp-for="transportationModel.StatusTransport" >
                <option value="Pending">Pending</option>
                        <option value="In Transit">In Transit</option>
                        <option value="Delivered">Delivered</option>
                        </select>

                <span asp-validation-for="transportationModel.StatusTransport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transportationModel.SentDate" class="control-label"></label>
                <input style="color-scheme:dark;" asp-for="transportationModel.SentDate"  />
                <span asp-validation-for="transportationModel.SentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transportationModel.ArrivalDate" class="control-label"></label>
                <input style="color-scheme:dark;" asp-for="transportationModel.ArrivalDate"  />
                <span asp-validation-for="transportationModel.ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transportationModel.DriverModelId" class="control-label"></label>
                <select asp-for="transportationModel.DriverModelId"  asp-items="ViewBag.DriverModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="transportationModel.LocationModelId" class="control-label"></label>
                <select asp-for="transportationModel.LocationModelId"  asp-items="ViewBag.LocationModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-b btn-primary" />
            </div>
            <a asp-action="Index">Back to List</a>
            <a class="" style="cursor:pointer;" id="ShowHideRef">Toggle Reference Guide</a>

        </form>
    </div>
</div>

<div id="Ref" style="display:none;">
<h1 style="color:white;">Reference Guide</h1>

<div class="pageSc">
<table class="table">
    <thead class="bg-dark">
        <tr style="border: 1px solid white;">
            <th>
                Driver ID
            </th>
            <th>
                Driver Last Name
            </th>
            <th>
                Driver First Name
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.driverModels) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

        </tr>
    
}
    </tbody>
</table>
</div>

<div class="pageSc">
<table class="table">
    <thead class="bg-dark" >
        <tr style="border: 1px solid white;">
            <th>
                Location ID
            </th>
            <th>
                Address
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.locationModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>

        </tr>
}
    </tbody>
</table>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
